VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://dmlnhnmybnywjsjvutur.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtbG5obm15Ym55d2pzanZ1dHVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDUwODksImV4cCI6MjA5MTMyMTA4OX0.yb0n6fOaI6-DgBApj6R2NW6teyyzJyzAYjfEaMzxlss
VITE_USE_MOCKS=false
